Customers of a big international bank, who decided to leave (Exited) from the bank.

The story: A bank is investigating a very high rate of customer leaving the bank. Here is a 10.000 records dataset to investigate and predict which of the customers are more likely to leave the bank soon.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive/')
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Churn.csv')

#include relevant columns within x and y
x = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]
dataset.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [28]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [29]:
#deal with categorical data --> encode them

from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
x.iloc[:, 1] = labelencoder_x.fit_transform(x.iloc[:, 1]) #applying on Geography
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0  Female  ...          1               1        101348.88
1          608          2  Female  ...          0               1        112542.58
2          502          0  Female  ...          1               0        113931.57
3          699          0  Female  ...          0               0         93826.63
4          850          2  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [30]:
#apply encoder on Gender as well
labelencoder_x_2 = LabelEncoder()
x.iloc[:, 2] = labelencoder_x_2.fit_transform(x.iloc[:, 2]) #applying on Gender
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [31]:
#One hot encoding. 

from keras.utils import to_categorical
encoded = pd.DataFrame(to_categorical(x.iloc[:, 1]))
#no need to encode Gender, as there are only two categories

x = pd.concat([encoded, x], axis = 1)
x.head()

     0    1    2  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  1.0  0.0  0.0  ...          1               1        101348.88
1  0.0  0.0  1.0  ...          0               1        112542.58
2  1.0  0.0  0.0  ...          1               0        113931.57
3  1.0  0.0  0.0  ...          0               0         93826.63
4  0.0  0.0  1.0  ...          1               1         79084.10

[5 rows x 13 columns]

In [32]:
#Dropping the existing "geography" category, and one of the onehotcoded columns.

x = x.drop(['Geography', 0], axis = 1)
x.head()

     1    2  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  0.0  0.0          619  ...          1               1        101348.88
1  0.0  1.0          608  ...          0               1        112542.58
2  0.0  0.0          502  ...          1               0        113931.57
3  0.0  0.0          699  ...          0               0         93826.63
4  0.0  1.0          850  ...          1               1         79084.10

[5 rows x 11 columns]

In [0]:
#train and test set split, and feature scaling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Build the model using Keras


ANN with many hidden layers is one of the branches of Deep Learning.

In [34]:
import keras
from keras.models import Sequential
from keras.layers import Dense #to add layers

#there is no rule on how many nodes each hidden layer should have
classifier = Sequential()
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
#init --> initialize weights according to uniform distribution
#input_dim is required for the first hidden layer, as it is the first starting point. --> number of nodes.
#output_dim --> number of nodes of the hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
#input_dim --> remove it as it already knows what to expect.

#the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))
#output_dim should be 1, as output is binary outcome, and activation should be 'sigmoid'
#If dependent variables have more than two categories, use activation = 'softmax'

#compile the model --> backpropagation -> gradient descent
classifier.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])
#optimizer = algorithm to find the optimal set of weights in ANN
#loss = functions that should be optimized. if more than two categories, use "categorical_crossentropy"
#metrics = criterion used to calculate the performance of the model.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  from ipykernel import kernelapp as app

In [35]:
classifier.fit(X_train, Y_train, batch_size = 10, nb_epoch = 100)
#batch_size = the number of observations after which you want to update the weights
#           batch size and epochs should be tuned through experiments.
#epoch = going through the whole dataset

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4874 - acc: 0.7952
Epoch 2/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4250 - acc: 0.7974
Epoch 3/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4148 - acc: 0.8276
Epoch 4/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4092 - acc: 0.8327
Epoch 5/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4056 - acc: 0.8339
Epoch 6/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4035 - acc: 0.8342
Epoch 7/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4012 - acc: 0.8354
Epoch 8/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4002 - acc: 0.8349
Epoch 9/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3996 - acc: 0.8335
Epoch 10/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3979 - acc: 0.8347
Epoch 11/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3970 - acc: 0.8356
Epoch 12/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3959 - acc: 0.8367
Epoch 13/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3929 - acc: 0.8382
Epoch 14/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3897 - acc: 0.8404
Epoch 15/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3859 - acc: 0.8430
Epoch 16/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3817 - acc: 0.8425
Epoch 17/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3762 - acc: 0.8460
Epoch 18/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3683 - acc: 0.8481
Epoch 19/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3620 - acc: 0.8519
Epoch 20/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3575 - acc: 0.8527
Epoch 21/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3539 - acc: 0.8554
Epoch 22/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3514 - acc: 0.8579
Epoch 23/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3502 - acc: 0.8579
Epoch 24/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3486 - acc: 0.8590
Epoch 25/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3474 - acc: 0.8586
Epoch 26/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3464 - acc: 0.8580
Epoch 27/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3453 - acc: 0.8572
Epoch 28/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3456 - acc: 0.8592
Epoch 29/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3448 - acc: 0.8594
Epoch 30/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3446 - acc: 0.8586
Epoch 31/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3435 - acc: 0.8571
Epoch 32/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3430 - acc: 0.8582
Epoch 33/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3434 - acc: 0.8592
Epoch 34/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3430 - acc: 0.8565
Epoch 35/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3428 - acc: 0.8592
Epoch 36/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3417 - acc: 0.8609
Epoch 37/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3419 - acc: 0.8602
Epoch 38/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3422 - acc: 0.8620
Epoch 39/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3426 - acc: 0.8580
Epoch 40/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3421 - acc: 0.8594
Epoch 41/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3411 - acc: 0.8594
Epoch 42/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3413 - acc: 0.8590
Epoch 43/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3413 - acc: 0.8574
Epoch 44/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3418 - acc: 0.8602
Epoch 45/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3406 - acc: 0.8576
Epoch 46/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3410 - acc: 0.8582
Epoch 47/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3413 - acc: 0.8594
Epoch 48/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3409 - acc: 0.8589
Epoch 49/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3402 - acc: 0.8592
Epoch 50/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3406 - acc: 0.8587
Epoch 51/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3408 - acc: 0.8581
Epoch 52/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3401 - acc: 0.8601
Epoch 53/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3391 - acc: 0.8604
Epoch 54/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3398 - acc: 0.8584
Epoch 55/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3399 - acc: 0.8607
Epoch 56/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3407 - acc: 0.8602
Epoch 57/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3393 - acc: 0.8596
Epoch 58/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3405 - acc: 0.8591
Epoch 59/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3402 - acc: 0.8592
Epoch 60/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3393 - acc: 0.8595
Epoch 61/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3400 - acc: 0.8586
Epoch 62/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3400 - acc: 0.8611
Epoch 63/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3403 - acc: 0.8591
Epoch 64/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3397 - acc: 0.8594
Epoch 65/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3397 - acc: 0.8614
Epoch 66/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3391 - acc: 0.8626
Epoch 67/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3408 - acc: 0.8589
Epoch 68/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3400 - acc: 0.8605
Epoch 69/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3394 - acc: 0.8586
Epoch 70/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3410 - acc: 0.8600
Epoch 71/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3395 - acc: 0.8632
Epoch 72/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3394 - acc: 0.8595
Epoch 73/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3392 - acc: 0.8610
Epoch 74/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3386 - acc: 0.8614
Epoch 75/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3394 - acc: 0.8599
Epoch 76/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3389 - acc: 0.8597
Epoch 77/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3396 - acc: 0.8615
Epoch 78/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3392 - acc: 0.8611
Epoch 79/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3389 - acc: 0.8605
Epoch 80/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3393 - acc: 0.8601
Epoch 81/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3391 - acc: 0.8605
Epoch 82/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3388 - acc: 0.8609
Epoch 83/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3386 - acc: 0.8589
Epoch 84/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3393 - acc: 0.8626
Epoch 85/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3397 - acc: 0.8584
Epoch 86/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3385 - acc: 0.8607
Epoch 87/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3390 - acc: 0.8605
Epoch 88/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3393 - acc: 0.8622
Epoch 89/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3393 - acc: 0.8592
Epoch 90/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3389 - acc: 0.8634
Epoch 91/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3393 - acc: 0.8615
Epoch 92/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3394 - acc: 0.8617
Epoch 93/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3395 - acc: 0.8594
Epoch 94/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3392 - acc: 0.8606
Epoch 95/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3385 - acc: 0.8620
Epoch 96/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3396 - acc: 0.8586
Epoch 97/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3382 - acc: 0.8609
Epoch 98/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3381 - acc: 0.8627
Epoch 99/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3394 - acc: 0.8617
Epoch 100/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3392 - acc: 0.8600

In [36]:
#predicting the results

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5) #to classify each probability into True or False

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print (cm, '\n\n', y_pred[:5, :])

[[1461  134]
 [ 179  226]]

 [[False]
 [False]
 [False]
 [False]
 [False]]

In [37]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

84.35 % of testing data was classified correctly