# Project - Titan

### The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.

### Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.

### The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.

### To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are shown in Table 1

In [140]:
### Question 1
# Find the mean of old scheme and new scheme column. (5 points)

In [141]:
import pandas as pd
import numpy as np
Data=pd.read_csv('titan.csv')

In [142]:
pd.DataFrame(Data)
# changing index cols with rename() 
Titan=Data.rename(columns = {"Old Scheme (in thousands)": "Old", 
                                  "New Scheme (in thousands)":"New",})
Titan

    SALESPERSON  Old  New
0             1   57   62
1             2  103  122
2             3   59   54
3             4   75   82
4             5   84   84
5             6   73   86
6             7   35   32
7             8  110  104
8             9   44   38
9            10   82  107
10           11   67   84
11           12   64   85
12           13   78   99
13           14   53   39
14           15   41   34
15           16   39   58
16           17   80   73
17           18   87   53
18           19   73   66
19           20   65   78
20           21   28   41
21           22   62   71
22           23   49   38
23           24   84   95
24           25   63   81
25           26   77   58
26           27   67   75
27           28  101   94
28           29   91  100
29           30   50   68

In [143]:
Mean1= Titan.loc[:,"Old"].mean()
Mean2= Titan.loc[:,"New"].mean()
print(Mean1)
print(Mean2)

68.03333333333333
72.03333333333333

In [144]:
### Question 2
# Use the five percent significance test over the data to determine the p value to check new scheme has significantly
# raised outputs? (10 points)

In [145]:
Std1= Titan.loc[:,"Old"].std()
Std2= Titan.loc[:,"New"].std()
print(Std1)
print(Std2)

20.455980212074454
24.062394946777697

In [146]:
from scipy.stats import ttest_ind_from_stats
tstat, pvalue = ttest_ind_from_stats(Mean1, Std1, 29, Mean2, Std2, 29)
pvalue

0.498020664739114

In [147]:
### Question 3
# What conclusion does the test (p-value) lead to? (2.5 points)

In [157]:
# Since p-value (=0.49802) is higher than 0.05, we accept (fail to reject) NULL hypothesis.
# The new scheme has NOT significantly raised outputs.

In [158]:
### Question 4
# Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000
# in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

In [159]:
# A) The probability of a type 1 error? (2.5 points)

# Probability of Type I error is 0.05

In [160]:
# B) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)